<template>
  <div class="lower-text">

      <small>
        <span class="p-text">{{ coalition }}: {{ s }}</span>
      </small>
    <h5>
      Vládní většina:
      <span :class="probabilityClass" class="pr-text">{{ probability }}</span>
    </h5>
  </div>
</template>

<script>
export default ({
  data: function() {
    return {
      s: 0
    }
  },
  computed: {
    probability: function() {
      let $this = this
      $this.s = 0
      for (let i = 0; i < this.$store.state.candidates.length; i++) {
        let cand = this.$store.state.candidates[i]
        if (cand.selected) {
          $this.s++
        }
      }
      if ($this.s > 100) {
        return "Ano"
      }
      return "Ne"
    },
    probabilityClass: function () {
      if (['Ano'].includes(this.probability)) {
        return {
          'text-success': true,
          'text-warning': false,
          'text-danger': false
        }
      }
      // if (['Spíš nemožná', 'Nejistá'].includes(this.probability)) {
      //   return {
      //     'text-success': false,
      //     'text-warning': true,
      //     'text-danger': false
      //   }
      // }
      return {
        'text-success': false,
        'text-warning': false,
        'text-danger': true
      }
    },
    coalition: function() {
      let arr = []
      this.$store.state.parties.forEach( function (p) {
        if (p.selected) {
          arr.push(p.name)
        }
      })
      if (arr.length > 0) {
        return arr.join(', ')
      }
      return 'Nic nevybráno'

    }
  }
})
</script>

<style scoped>
  .lower-text {
    font-weight: bold;
    /* font-family: Martel, Georgia, Calisto MT, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #382c2c;
  }
  .p-text {
    font-size: 0.65em
  }
</style>
